.rootContainer {
  min-height: 100vh;
  padding-bottom: 100px;
  padding-top: 100px;
}

.projectsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.projectContainer {
  width: max-content;
  cursor: pointer;
  margin-right: 50px;
  margin-bottom: 50px;
}

@media screen and (max-width: 500px) {
  .projectContainer {
    margin-right: 0px;
  }
}

.projectDetailContainer {
  background-color: #212529;
  padding: 20px 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media screen and (max-width: 500px) {
  .projectDetailContainer p {
    max-width: 230px;
  }
}

.imageContainer {
  overflow: hidden;
  width: 400px;
  height: 250px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

@media screen and (max-width: 500px) {
  .imageContainer {
    width: 250px;
    height: 155px;
  }
}

.image {
  width: 400px;
  transition-duration: 500ms;
}

@media screen and (max-width: 500px) {
  .image {
    width: 250px;
  }
}

.projectContainer:hover .image {
  scale: 1.1;
}

.projectName {
  color: white;
  font-weight: 700;
  font-size: 20px;
}

@media screen and (max-width: 500px) {
  .projectName {
    font-size: 16px;
  }
}

.skillListContainer {
  position: relative;
  height: 25px;
  overflow: hidden;
}

.skillListTextContainer {
  color: #adb5bd;
  position: absolute;
  transition-duration: 300ms;
}

.projectContainer:hover .skillListTextContainer {
  transform: translateY(-50%);
}

.title {
  color: #ffc627;
  font-size: 70px;
  max-width: 100px;
  font-family: "Fredoka One", cursive;
}

@media screen and (max-width: 1200px) and (min-width: 800px) {
  .title {
    font-size: 60px;
  }
}

@media screen and (max-width: 800px) and (min-width: 500px) {
  .title {
    font-size: 50px;
  }
}

@media screen and (max-width: 500px) {
  .title {
    font-size: 40px;
    max-width: max-content;
    justify-self: center;
  }
}

.text {
  margin-top: 20px;
  color: white;
  font-size: 20px;
  max-width: 500px;
  word-spacing: 7px;
  font-weight: 300;
}

@media screen and (max-width: 1200px) {
  .text {
    font-size: 16px;
    word-spacing: 7px;
  }
}

@media screen and (max-width: 500px) {
  .text {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.headerContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  align-items: center;
}

.video {
  height: 600px;
}

@media screen and (max-width: 1200px) and (min-width: 800px) {
  .video {
    height: 500px;
  }
}

@media screen and (max-width: 800px) and (min-width: 500px) {
  .video {
    height: 400px;
  }
}

@media screen and (max-width: 500px) {
  .video {
    display: none;
  }
}

.headerTitleContainer {
  margin-right: 100px;
}

@media screen and (max-width: 1200px) and (min-width: 500px) {
  .headerTitleContainer {
    margin-right: 50px;
    margin-left: 50px;
  }
}

@media screen and (max-width: 500px) {
  .headerTitleContainer {
    margin: 0 auto;
    max-width: 300px;
  }
}
