.rootContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.titleContainer {
  position: absolute;
  top: 100px;
}

.contentContainer {
  display: flex;
}

.title {
  color: #ffc627;
  font-size: 70px;
  font-family: "Fredoka One", cursive;
}

.image {
  width: 550px;
}

.aboutMeList {
  margin-right: 100px;
}

.aboutMeList li {
  color: white;
  font-size: 20px;
  font-weight: 300;
  max-width: 500px;
  margin-bottom: 10px;
}

.aboutMeList li:nth-child(1) {
  list-style-type: "\1F4BB";
}

.aboutMeList li:nth-child(2) {
  list-style-type: "\1F4F1";
}

.aboutMeList li:nth-child(3) {
  list-style-type: "\1F481";
}

.aboutMeList li:nth-child(4) {
  list-style-type: "\1F9D3";
}

.aboutMeList li:nth-child(5) {
  list-style-type: "\1F4AA";
}

.aboutMeList li:nth-child(6) {
  list-style-type: "\1F3AF";
}
