.rootContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.titleContainer {
  margin-bottom: 100px;
}

@media screen and (max-width: 800px) and (min-width: 500px) {
  .titleContainer {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 500px) {
  .titleContainer {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 800px) {
  .contentContainer {
    position: relative;
  }
}

.contentContainer {
  display: flex;
}

@media screen and (max-width: 800px) {
  .contentContainer {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.title {
  color: #ffc627;
  font-size: 70px;
  font-family: "Fredoka One", cursive;
}

@media screen and (max-width: 1200px) and (min-width: 800px) {
  .title {
    font-size: 60px;
  }
}

@media screen and (max-width: 800px) and (min-width: 500px) {
  .title {
    font-size: 50px;
  }
}

@media screen and (max-width: 500px) {
  .title {
    font-size: 40px;
  }
}

.image {
  width: 550px;
  border-radius: 10px;
}

@media screen and (max-width: 1200px) and (min-width: 800px) {
  .image {
    width: 450px;
  }
}

@media screen and (max-width: 800px) {
  .image {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 500px) {
  .image {
    width: 300px;
  }
}

.aboutMeList {
  margin-right: 100px;
}

@media screen and (max-width: 1200px) and (min-width: 800px) {
  .aboutMeList {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media screen and (max-width: 800px) {
  .aboutMeList {
    margin-right: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.aboutMeList li {
  color: white;
  font-size: 20px;
  font-weight: 300;
  max-width: 500px;
  margin-bottom: 10px;
}

@media screen and (max-width: 1200px) {
  .aboutMeList li {
    font-size: 16px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 800px) {
  .aboutMeList li {
    font-size: 16px;
    width: 500px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 500px) {
  .aboutMeList li {
    max-width: 250px;
  }
}

.aboutMeList li:nth-child(1) {
  list-style-type: "\1F4BB";
}

.aboutMeList li:nth-child(2) {
  list-style-type: "\1F4F1";
}

.aboutMeList li:nth-child(3) {
  list-style-type: "\1F481";
}

.aboutMeList li:nth-child(4) {
  list-style-type: "\1F9D3";
}

.aboutMeList li:nth-child(5) {
  list-style-type: "\1F4AA";
}

.aboutMeList li:nth-child(6) {
  list-style-type: "\1F3AF";
}
