.navList {
  list-style-type: none;
  display: flex;
}

.navList a {
  text-decoration: none;
  width: max-content;
  display: inline-block;
  text-align: center;
  background-color: #e31b6d;
  margin-right: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  position: relative;
  z-index: 2;
  width: 150px;
  transition-duration: 500ms;
}

.navList a:nth-child(5) {
  margin-right: 0;
}

.navList a p {
  position: relative;
  z-index: 2;
  color: white;
  font-weight: 700;
  font-size: 20px;
  font-family: "Fredoka One", cursive;
}

.navList a::before {
  content: "";
  position: absolute;
  width: 75px;
  height: 0px;
  border-radius: 50%;
  bottom: calc(100% - 30px);
  left: calc(0% + 20px);
  background-color: #e31b6d;
  z-index: 1;
  transition-duration: 500ms;
}

.navList a:hover {
  background-color: #ff4d6d;
}
.navList a:hover::before {
  background-color: #ff4d6d;
  height: 50px;
}

.navList a::after {
  content: "";
  position: absolute;
  width: 75px;
  height: 0;
  border-radius: 50%;
  top: calc(0% + 20px);
  right: calc(0% + 20px);
  background-color: #e31b6d;
  z-index: 1;
  transition-duration: 500ms;
}

.navList a:hover::after {
  background-color: #ff4d6d;
  height: 50px;
}
